body {
	background: white;
	font-style: Arial;
	font-size: 18px;
	background: #ffcc99;
	margin-left: 10%;
	margin-right: 15%;
}

.name {
	color: black;
	font-weight: bold;
	font-size: 30px;
}

.title {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	font-size: 23px;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 1%;
	padding-top: 10px;
}

.subtitle {
	color: black;
	font-weight: bold;
	font-size: 21px;
}

li.closed {
	list-style: disc;
	text-align: left;
}

li.open {
	list-style: circle;
}

.just {
	float: right;
}

ul {
	padding-bottom: 10px;
}