body {
	background: white;
	font-style: Arial;
	font-size: 15px;
}

.name {
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.title {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	font-size: 17px;
}

.subtitle {
	color: black;
	font-weight: bold;
	font-size: 10px;
}

li.closed {
	list-style: disc;
	text-align: left;
}

li.open {
	list-style: circle;
}

.just {
	float: right;
}